@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: black;
}

body{/**El enlace de arriba lo e sacado de google fonts**/
    font-family: 'Poppins', sans-serif;
}

.container{/**Esto es un contenedor de la pagina para que haya borde en lo que quiera**/
    width: 90%;/**Para que no ocupe el 100% de la pagina**/
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;/**que todo lo que se salga de ese elemento se esconda**/
    padding: var(--padding-container);
}

.hero{
    width: 100%;/**Este si es el 100% del navegador y me sirve para la imagen de fondo **/
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;/**Para que un elemento se posicione absolutamente a este contenedor**/
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
}
.hero::before{/**Este para mi imagen modificada en clippy, es un subelemento**/
    content: "";
    position: absolute;/**Para que se posicione absolutamente a su padre que es hero**/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100% ), url('../img/funeraria-700x391.jpeg');
    background-size:cover;/**Para que se adapte a la pagina**/
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;/**Con este puedo ver el texto que estaba tapado**/
}

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;/**Para poner los elementos uno al lado del otro**/
    align-items: center;/**Para centrarlos verticalmente**/
}

.nav_title{/**El logo**/
    font-weight: 300;
}

.nav_link{
    margin-left: auto;/**Con este los elementos link del nav se pasan a la derecha**/
    padding: 0;
    display: grid;
    grid-auto-flow: column;/**Con este se ponen una al lado de la otra**/
    grid-auto-columns: max-content;/**Que mida por defecto su maximo contenido**/
    gap: 2em;
}

.nav_items{
    list-style: none;/**Para quitar el estilo de listas**/
}

.nav_links{
    color: white;
    text-decoration: none;
}

.nav_menu{/**Problema**/
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}

.nav_close{
    display: var(--show, none);
}

.hero_container{/**Es el contenedor de la seccion**/
    max-width: 800px;
    display: grid;
    --padding-container:0;
    grid-auto-flow: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;/**Para que no se pegue al recorte**/
    text-align: center;
}

.hero_title{
    font-size: 20px;
}

.hero_paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    justify-self: center;/**Que solo ocupe su contenido**/
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}
.about{
    text-align: center;
}
.subtitle{
    color: var(--color-title);/**Este es el color que puse en root**/
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_paragraph{
    line-height: 1.7;
}

.about_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, ));/**Columnas dinamicas que se repitan tantas columnas como sea posible**/
}

.about.icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: auto;
}

.about_icon{
    width: 40px;
}

/* knowledge */

.knowledge{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#2c2e54 0.5px, transparent 0.5px), radial-gradient(#2c2e54 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
}

.knowledge_container{
    display: grid;
    grid-template-columns: 1fr 1fr;/**Una fraccion para cada columna**/
    gap: 1em;
    align-items: center;
}

.knowledge_picture{
    max-width: 500px;
}

.knowledge_img{
    display: block;
}

.knowledge_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.logo{
width: 100px;
}

footer{
    height: 100px;
    background-color: grey;
    text-align: center;
}

footer .titulo-seccion{
    color: var(--color-title);
}

footer .copy{
    color: black;
    text-align: center;
}

